/***** 공통사항 *****/
.wrap {width: 96%; margin: auto; max-width: 960px;}
.page {padding: 3rem; color: #666;}
.page > h3.tit {text-align: center; margin-bottom: 1.5rem;}
.page > i.cmt {text-align: center; margin-bottom: 1.5rem; display: block;}
.page > p.cont {text-align: justify; line-height: 1.75rem; margin-bottom: 1.5rem;}


/***** .navs *****/
.navs {width: 100%; position: fixed; z-index: 9999; color:#666;}
.navs > ul {float: left;}
.navs > ul > li.nav {float: left; padding: 1rem 1.25rem; cursor: pointer;}
.navs > ul > li.nav:hover {background-color: #ccc; color:#111;}
.navs > ul > li.nav > i {margin-right: 0.5rem;}
.navs > div.search {float: right; padding: 1rem 1.25rem; color:#999;}
.navs > div.search:hover {background-color: #f10; color: #fff; cursor: pointer;}
.navs-shadow {background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	color:#111 !important;}

/***** .mains *****/
/* 
background:
컬러__
이미지(url)__
반복방법(repeat(기), repeat-x, repeat-y, no-repeat)__
좌우위치(left(기), center, right, px, %, rem...)__
상하위치(top(기), center, bottom, px, %, rem...)
*/
.mains {width: 100%; height: 50%; position: relative; opacity: 0.8;
/* background: url(../img/p1.jpg) no-repeat center; */
background-image: url(../img/parallax1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.main_tit {position: absolute; color: #fff; background-color: #222; font-size: 2rem; 
	padding: 0.75rem 1rem; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.main_tit:after {content: "MY WEBSITE LOGO"; letter-spacing: 0.25rem;}

/***** .abouts *****/
.about {font-size: 1rem;}
.about > .about_pic {width: 50%; float: left; padding: 3%;}
.about > .about_pic > .tit {text-align: center; font-size: 1em; margin-bottom: 1.5em;}
.about > .about_pic > img {opacity: 0.8;}
.about > .about_pic > img:hover {opacity: 1;}
.about > .about_cont {width: 50%; float: right; padding: 3%; line-height: 1.5em; text-align: justify;}






/***** 반응형 *****/
@media screen and (max-width: 768px) {
	.main_tit:after {content: "MY LOGO"; letter-spacing: 0.25rem;}
}

